name: Integration Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test-core:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        maven_profiles: ["jackson-classic", "jsonb-classic", "jackson-reactive", "jsonb-reactive"]

    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: 'maven'

      - name: Compile
        run: ./mvnw install -Pquick

      - name: Integration Tests - Core
        run: ./mvnw clean verify -P it,${{ matrix.maven_profiles }} -pl 'integration-test/core,integration-test/rest-client'

  test-extensions:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        it_modules: ["openapi", "metrics", "zalando"] # rest-client runs along with core as it utilizes same maven profiles

    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: 'maven'

      - name: Compile
        run: ./mvnw install -Pquick

      - name: Integration Tests - Non-core extensions
        run: ./mvnw clean verify -P it -pl 'integration-test/${{ matrix.it_modules }}'