name: Regression Tests

on:
  push:
    branches: [ master, v2.X, v1.X ]
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        quarkus-version: [ "2.0", "2.1", "2.2", "2.3", "2.4", "2.5", "2.6", "2.7", "2.8", "2.9", "2.10", "2.11", "2.12", "2.13", "2.14"]
        json-provider: [ "jsonb-classic", "jackson-classic" ]

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
            ${{ runner.os }}-

      - name: Build project
        run: ./mvnw install -Pquick -pl '!integration-test'

      - name: Integration tests
        run: |
          ./mvnw clean verify \
              -P${{ matrix.json-provider }},quarkus-${{ matrix.quarkus-version }} \
              -pl integration-test